
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
  font-family: "Poppins", sans-serif;

}
.nav .nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #eff7ff;
  padding: 1.5rem 5.5rem;
}

.nav li{
  padding: 1rem;
 list-style-type: none;
}

.nav a{
  text-decoration: none;
  color: #222222;
  cursor: pointer;
  font-size: .85rem;
  margin-left: 0.5rem;
  font-weight: 500;
}

.toggle-bar{
  display: none;
  color: #444;
  font-size: 1.5rem;
}

.nav-logo {
 flex: 1;
 
 
 align-items: center;
}
.nav-logo img {
 height: 35px;
 filter: opacity(0.8) drop-shadow(0 0 0  #eff7ff );
}

.nav a:hover{
 transform: all 3s;
}
.nav-item .btn-blue{
 color: #fff;
}



/* Header */
.home{

  background-color: #eff7ff;

  height: 100vh;
}
.hero-container{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding:4rem 5rem;

}
.hero-img img{
  height: 500px;
  

}
.hero-content{
  
}
.hero-title  {
  font-size: 2rem;
  color: #05224b;
  font-weight: 600;
  line-height: 4rem;
}

.sub-title  {
  width: 80%;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 20px;
  color: #05224b;
  font-weight: 100;
  margin-bottom: 50px;
}
.btn-blue{
 background-color: #2752db;
 padding:.8rem 1.5rem;
 color: #fff;
 border: none;
 outline: none;
 box-shadow: 0 10px 20px 0 rgb(39 82 219 / 15%);
 border-radius: .8rem 0rem .8rem .8rem;
 font-size: 14px;
 font-weight: 600;



}     
.about{
  margin: 20px auto;
  text-align: center;
}
.about input{
  width: 40%;
  padding: 0.75rem;
  border-color: #2752db;
  outline: none;
  margin-top: 10px;
  margin-bottom: 30px;

}
.nav-about a{
  margin-right: 30px;
  text-decoration: none;
  font-size: 20px;
  color: #05224b;
}

.customers h2{
  margin-top: 20px;
  color: #05224b;
}
.customers p {
  margin-top: 20px;
  color: #05224b;

}
.products{
  margin-top: 20px;
  color: #05224b;

}
.products ul {
  margin-top: 20px;
  color: #05224b;

}
.products ul li{
margin-top: 15px;
}

.section{
  width: 90%;
  padding: 5rem 4rem;
  margin: 0 auto;
}
.section--wrapper{
  display: flex;
  justify-content: space-between;
}
.img-prod{
  height: 250px;
  margin-top: 100px;
}
.product-headline h2{
  font-size: 2.5rem;
  color: #05224b;
  font-weight: 600;
  line-height: 3rem;
}
.product--subheadline{
width: 100%;
font-size: 1rem;
line-height: 1.5rem;
margin-top: 30px;
color: #05224b;
font-weight: 100;
margin-bottom: 50px;
}
.product-grid{
  display: grid;
  grid-template-columns: repeat(2fr 1fr);
  grid-template-rows: 3fr , 1fr;
  border-color:2px red;
 
}
.red{
  border-color: 2px red;
}